<div *ngIf="error" class="container alert alert-danger mt-3 mb-0">
  {{ error }}
</div>
<div class="card">
  <div *ngIf="currentUser">
    <div class="header"></div>
    <img class="circle" src="assets/popcorn.png" />
    <div class="card-body">
      <h1>{{ currentUser.firstname }} {{ currentUser.lastname }}</h1>
      <p class="username">@{{ currentUser.username }}</p>

      <button routerLink="edit/" class="btn btn-primary mr-1">
        <i class="fas fa-pencil-alt"></i>
        Edit</button
      >&nbsp;
      <button
        mat-raised-button
        (click)="openDialog()"
        class="btn btn-danger btn-delete-user"
      >
        <i class="fas fa-trash-alt"></i>
        Delete
      </button>
    </div>
    <br />
  </div>
</div>
