<div class="card" style="width: 18rem">
  <img class="card-img-top" src="{{ imgUrl }}" alt="Card image cap" />
  <div class="card-body">
    <div class="card-text">
      <h5 class="title inline-block">{{ movie.title }}</h5>
      <span class="inline-block">
        ({{ movie.dateReleased | date: "yyyy" }})
      </span>

      <div class="buttons">
        <br />
        <span *ngIf="!favorite">
          <button routerLink="edit/{{ movie.id }}" class="btn button">
            <i class="fas fa-pencil-alt"></i>
          </button>
          <button (click)="onDeleteButtonClick($event)" class="btn button">
            <i class="fas fa-trash-alt"></i>
          </button>
        </span>
        <button
          *ngIf="!movie.favoriteId"
          (click)="onAddToFavoritesButtonClick($event)"
          class="btn button right-button"
        >
          <i class="far fa-heart"></i>
        </button>
        <button
          *ngIf="movie.favoriteId"
          (click)="onDeleteFromFavoritesButtonClick($event)"
          class="btn button right-button"
        >
          <i class="fas fa-heart"></i>
        </button>
        <br />
      </div>
      <br />
    </div>
  </div>
</div>

<p></p>
