<div class="container" style="margin: 3em; text-align: center">
  <h1>All Movies</h1>
  <div class="search-bar-container">
    <div class="field">
      <p class="control has-icons-left">
        <input
          #filterInput
          (keyup)="filter($event.target.value)"
          class="input"
          type="text"
          placeholder="Filter"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-search"></i>
        </span>
      </p>
    </div>
  </div>

  &nbsp;
  <button routerLink="new" class="field button floating-add-button is-primary">
    + Add
  </button>
  <br />
  <br />
  <div *ngFor="let movie of filteredMovies">
    <app-movie-card
      routerLink="{{ movie.id }}"
      (delete)="deleteMovie(movie)"
      [movie]="movie"
    ></app-movie-card>
  </div>
</div>
