<div class="container">
  <h1>Movies</h1>

  <div class="row">
    <div class="col col-lg-7">
      <app-search
        [movies]="movies"
        (filtered)="filteredMovies = $event"
      ></app-search>
    </div>
    <div class="col"></div>
    <div class="col col-lg-2">
      <button routerLink="new" class="btn button floating-add-button">
        <i class="fas fa-plus"></i>&nbsp;
        <strong class="add">Add</strong>
      </button>
    </div>
  </div>
  <br />
  <br />
  <div style="text-align: center" *ngIf="filteredMovies.length === 0">
    <img src="assets/no-movies.svg" /> <br />
    <h2 style="margin: 1em; font-weight: 600">No movies found</h2>
  </div>
  <div class="row justify-content-around">
    <div *ngFor="let movie of filteredMovies">
      <app-movie-card
        routerLink="{{ movie.id }}"
        class="col"
        [movie]="movie"
        (delete)="deleteMovie(movie)"
        (addFavorite)="addToFavorites(movie)"
        (deleteFavorite)="deleteFavorite(movie)"
      ></app-movie-card>
    </div>
  </div>
</div>
