<div class="container" style="margin: 3em; text-align: center">
  <h1>Favorite Movies</h1>

  <app-search
    [movies]="favoriteMovies"
    (filtered)="filteredMovies = $event"
  ></app-search>

  <div *ngIf="filteredMovies.length === 0">No movies found</div>
  <div
    style="margin: 3em; text-align: center"
    *ngFor="let favoriteMovie of filteredMovies"
    class="container"
  >
    <app-movie-card
      routerLink="../{{ favoriteMovie.id }}"
      [movie]="favoriteMovie"
      [favorite]="true"
      (deleteFavorite)="deleteFavorite(favoriteMovie)"
    ></app-movie-card>
  </div>
</div>
