/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Open Sans', sans-serif;
}

.form-control:focus {
  border-color: #008476 !important;
  box-shadow: 0 0 0 .2rem rgba(#008476, .25) !important;
}

.btn-primary {
  background-color: #008476;
  border-color: #008476 !important;
}

.btn-primary:hover {
  background-color: #005f56;
}

h1 {
  font-weight: 700;
  margin: 1.5em 0;
}

.link {
  color: #00756a !important;
}
